spring:
  application:
    name: sichrplace-backend
  profiles:
    active: local
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
  level:
    root: INFO
    com.sichrplace.backend: DEBUG
    org.springframework.web: INFO
    com.zaxxer.hikari: INFO
